@font-face {
    font-family: "Georgia";
    src: url("../fonts/georgia/Georgia.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Georgia";
    src: url("../fonts/georgia/Georgia-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
